.main-component {
	align-items: center;
	text-align: center;
	background: rgb(193,200,228);
	background: radial-gradient(circle, rgba(193,200,228,1) 0%, rgba(132,206,235,1) 35%, rgba(90,185,234,1) 100%);
}
